html, body {
	padding: 0px;
	margin: 0px;
	text-align: justify;
	color: #333;
}

html {
	font-family: BODY, sans-serif;
	background: url("view/images/grad-top.png") repeat-x #EEE;
}

body {
	margin: 0px auto;
	max-width: 920px;
}

/* header */
#header {
	margin: 20px 20px 0px 20px;
	text-shadow: 0px 1px 0px #FFF;
}

#header h1 {
	float: left;
	font-size: 30pt;
	height: 46px;
	color: #444;
	padding: 0px;
	font-weight: 500;
	margin: 0px;
}

/* navigation */
#header li {
	display: inline;
	list-style-type: none;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	float: left;
	font-size: 12pt;
}

#header ul {
	float: right;
	padding: 0px 0px;
	margin: 5px 0px;
	height: 46px;
	line-height: 46px;
}

#header a {
	text-decoration: none;
}

li.active a {
	color: #444;
}

li.inactive a {
	color: #777;
}

li.inactive a:hover {
	color: black;
}

li.admin a {
	color: blue;
}

/* main content */
p, pre {
	padding: 0px 20px 20px 20px;
	margin: 0px;
	font-size: 12pt;
}

ul {
	padding: 0px 20px 20px 40px;
	margin: 0px;
}

h2 {
	padding: 20px 20px 10px 20px;
	margin: 0px;
	font-size: 18pt;
	text-shadow: 0px 1px 0px white;
}

a {
	color: #555;
}
a:hover {
	color: #888;
}

/* thumbnails */
img.thumbnail {
	display: block;
	margin: 10px auto 0 auto;
	max-width: 230px;
	max-height: 140px;
	border: 1px solid #999;
}

.slide {
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 13px #999;
	-webkit-box-shadow: 0px 2px 13px #999;
	box-shadow: 0px 2px 13px #999;
	height: 215px;
	float: left;
	margin: 18px;
	padding: 10px;
	width: 250px;
}

div#wrapper {
	text-align: center;
}

div#slides {
	position: relative;
	width: 950px;
	margin: auto;
}

p.caption {
	font-size: 0.75em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	color: #999;
	margin-top: 10px;
	line-height: 12px;
}

.price {
	line-height: 25px;
	margin: 7px auto 0 auto;
	overflow: hidden;
	padding: 2px 0 0 0;
	text-align: center;
	white-space: nowrap;
	width: 40%;
}

.button {
	background: url(../images/grad-button.png);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: white;	
}

p.highlight {
	background-color: #FEFFAB;
}

.extra {
	display: none;
}

.hidden {
	display: none;
}

input {
	width: 100%;
}